<h1 style='text-align:center'> Module 1 Assessment</h1>

Congrats on completing Mod 1! In this assessment we'll cover Python fundamentals, working with statistical data, pandas and numpy, data visualization and linear regression.

## Python Fundamentals

In the first section, we will work with various Python data types and try to accomplish certain tasks using some Python fundamentals. Below, we've defined a dictionary with soccer player names as keys for nested dictionaries containing information about each players age, nationality, and a list of teams they have played for.

In [3]:
players = {
	'L. Messi': {
		'age': 31,
		'nationality': 'Argentina',
		'teams': ['Barcelona']
	},
	'Cristiano Ronaldo': {
		'age': 33,
		'nationality': 'Portugal',
		'teams': ['Juventus', 'Real Madrid', 'Manchester United']
	},
	'Neymar Jr': {
		'age': 26,
		'nationality': 'Brazil',
		'teams': ['Santos', 'Barcelona', 'Paris Saint-German']
	},
	'De Gea': {
		'age': 27,
		'nationality': 'Spain',
		'teams': ['Atletico Madrid', 'Manchester United']
	},
	'K. De Bruyne': {
		'age': 27,
		'nationality': 'Belgium',
		'teams': ['Chelsea', 'Manchester City']
	}
}

<b>1) Create a function that takes in a dictionary and returns a list of keys for that dictionary. In our case it should return a list of player names. Use python's documentation on dictionaries for help if needed. We started the function below for you, complete it below the doc string (don't forget your return statement!)</b>

In [4]:
def get_keys(dict_):
    '''
    Generate list of keys in dictionary
    
    Parameters
    ----------
    dict_ : dictionary object
        Dictionary with player names as keys
    Returns
    --------
    keys_ :  list object
        List object containing keys for the dictionary
    '''
    print(players.keys())
    return

In [5]:
#assign output of get_keys function to player_names
player_names = get_keys(players)

dict_keys(['L. Messi', 'Cristiano Ronaldo', 'Neymar Jr', 'De Gea', 'K. De Bruyne'])

<b> 2) Great! Now that we have each players name, let's use that information to create a list of tuples containing each player's name along with their nationality.</b>

In [29]:
def get_nationality(dict_, player_names):
    '''
    Generate list of tuples such that the first element in the tuple is 
    a players name and the second is their nationality 
    [('L. Messi', 'Argentina'), ('Christiano Ronaldo', 'Portugal'), ...]
    
    Parameters
    ----------
    dict_ : dictionary object
        Dictionary of player information
    player_names: 
        List of player names
    Returns
    --------
    nationalities :  list object
        List object containing tuples of players name and their nationality 
    '''
    nationalities = []
    for country in players:
        nationalities.append(players[1])

In [30]:
nationality = get_nationality(players, player_names)

KeyError: 1

#### 3) Now, create a function that obtains players based on which teams they've been on.

In [ ]:
def get_players_on_team(dict_,team_name):
    '''
    Generate a list of players that have ever played on a given team.
    
    Parameters
    ----------
    dict_ : dictionary object
        Dictionary of player information
    team_name: string
        Name of team to be searched for
    
    Returns
    --------
    player_list : list object
        List containing player names
    '''
    pass

In [ ]:
players_on_manchester_united = get_players_on_team(players,'Manchester United')

## Pandas and Numpy

In this section you will be doing some preprocessing and exploratory data analysis for a dataset for the videogame FIFA19 (https://www.kaggle.com/karangadiya/fifa19).  The dataset contains both data for the game as well as information about the players' real life careers.  You will be building toward running a regression.

<b>1) Read the CSV file into a pandas dataframe

The data you'll be working with is found in a file called './data/fifa.csv'  Complete the first function below to read it into a pandas dataframe. 

Check the contents of your dataframe with `df.head()`</b>

In [35]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [36]:
ls

 Volume in drive C has no label.
 Volume Serial Number is CAEA-B542

 Directory of C:\Users\kayce_000\Flatiron School\Module 1\Assessment\module-1-code-challenge-round-1-online-ds-pt-051319-dsc-module-1-assessment-1561566719

07/03/2019  07:17 PM    <DIR>          .
07/03/2019  07:17 PM    <DIR>          ..
07/02/2019  07:29 PM    <DIR>          .ipynb_checkpoints
07/02/2019  07:29 PM             1,849 CONTRIBUTING.md
07/02/2019  07:29 PM    <DIR>          data
07/03/2019  07:17 PM            21,350 index.ipynb
07/02/2019  07:29 PM             1,371 LICENSE.md
07/02/2019  07:29 PM            18,263 Preliminary Data Cleaning Notebook.ipynb
07/02/2019  07:29 PM            10,072 README.md
               5 File(s)         52,905 bytes
               4 Dir(s)  168,077,885,440 bytes free

In [37]:
# CODE HERE
def get_fifa_data():
    '''
    Parameters
    ----
    
    Returns 
    ----
    df : Pandas DataFrame Object
        dataframe containing data from fifa.csv
    '''
    #for some reason, the supplied code did not run. I wrote my own in the cell below.

In [39]:
df = pd.read_csv('./data/fifa.csv')
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,226500.0
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,127100.0
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,228100.0
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,138600.0
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,196400.0

<b>2) Check for duplicates
    
First, check how many rows are in the dataset, then check how many unique values are in the "ID" column.</b>

In [44]:
#code here to see the size of the dataframe
df.shape

(20000, 89)

In [52]:
#code here to check number of unique ids
df['ID'].value_counts()

223115    2
207629    2
225798    2
184001    2
222916    2
183160    2
183007    2
234371    2
208589    2
217990    2
209317    2
224140    2
189325    2
243554    2
227740    2
211901    2
209852    2
179903    2
199627    2
224108    2
223921    2
206492    2
238354    2
215864    2
170818    2
207619    2
191184    2
193166    2
223979    2
214704    2
         ..
213778    1
240399    1
244493    1
242444    1
164618    1
236297    1
240323    1
242229    1
240383    1
205566    1
244477    1
209660    1
199419    1
239005    1
193268    1
213746    1
207599    1
209644    1
232171    1
221926    1
193252    1
245150    1
54037     1
240351    1
176860    1
199387    1
223959    1
228053    1
240335    1
198657    1
Name: ID, Length: 18207, dtype: int64

<b> 3) Drop Duplicates
    
It looks like there are duplicates.  Get rid of them by dropping duplicate rows. After you have dropped them, see how many rows are remaining.</b>

In [53]:
#code here
df.loc[df['ID'] != df['ID']].drop()
#moving on, too confused.

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [ ]:
#now see how many rows there are

<b> 4. Drop n/a rows for "Release Clause"
    
Drop rows for which "Release Clause" is none or not given. This is part of a soccer player's contract dealing with being bought out by another team. Release Clause will be the target variable for our regression model.  After you have dropped them, see how many rows are remaining.</b>

In [56]:
df['Release Clause'].isnull().any()

True

In [63]:
#code here to drop n/a rows
df['Release Clause'].dropna(inplace = True)

In [64]:
df["Release Clause"].isnull().any()

False

In [66]:
#now check how many rows are left 
df["Release Clause"].value_counts().sum()

18273

<b> 5) Convert players' heights to inches. Replace the original height column.
First create a function, then use it on your dataframe. Create a function that convert a string into a integer and then apply that function to all of the height column.</b>

In [ ]:
#code here to write a helper function
def convert_height(height):
    '''
    inputs: height (string)
    ----
    returns: height in inches (int)
    '''

In [5]:
#test here
convert_height("5'7")

NameError: name 'convert_height' is not defined

In [ ]:
#code here to use the function on the height column

## Data Visualization

<b> 1) Make a histogram of players age
    
_Add a title and x axis label._ Use whichever plotting library you are most comfortable with. </b>

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
#histogram

<b> 2) Make a bar chart for the 10 countries with the most players (by nationality)</b>

Make sure to include x labels on your chart!

In [ ]:
#code here to get the top 10 countries with the most players

In [ ]:
#code here to plot a bar chart
plt.subplots(figsize=(10,6))

<b> 3) Make a scatter plot for the player stats StandingTackle and SlidingTackle

What can we say about these two features? </b>

In [ ]:
#code here to plot a scatterplot

// answer here //

### Exploring Statistical Data

We'll continue using the same FIFA 2019 dataset.  This section will assess your ability to use numpy and work with summary statistics.

<b>1) Convert the Release Clause Price from Euros to Dollars
    
Create a new column that has the 'release_clause' in dollars.

1.2 Dollars = 1 Euro.</b>

In [ ]:
#code here to convert the column of euros to dollars

<b>2) Get summary statistics for all numeric columns
    
(Please don't do each column individually!)</b>

In [ ]:
#code here

<b>3) What is the mean age and the median age for the players in this dataset?  How are the mean and median related to each other?</b>

// answer here //

#### 4) Who is the oldest player in Argentina and how old is he?  
Hint: a groupby clause might help here

In [ ]:
# code here

// answer here //

## Linear Regression

<b> 1) What are the covariance and correlation between "GKDiving" and "GKHandling"? </b>

a. What is the difference between covariance and correlation?  
b. What can you infer from the relationship between these variables?  
c. Would it be a good idea to include both of these in a regression model?

In [ ]:
#code here

// answer here //

<b>2) Fit a linear regression using the `ols` module of statsmodels</b>

Let's see how well each players' in-game stats reflect their real-world monetary value as a player. We  will not be considering real-world factors for this model, just the variables listed below.

- y variable: Release Clause (the one in euros)
- x variables: 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression','Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure','Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling','GKKicking', 'GKPositioning', 'GKReflexes'

Once you have fit the linear regression, display the results (coefficient values, $R^2$, etc.). Displaying the results can be done with one method!

In [ ]:
#code here
import statsmodels.api as sm
from statsmodels.formula.api import ols

Y = df['Release Clause']
X = df[['Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression','Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure','Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling','GKKicking', 'GKPositioning', 'GKReflexes']]

<b> 3) Interpret the results of the regression. 

Two players have the following stats: 

1) Finishing : 1, Heading Accuracy : 10, ShortPassing : 5

2) Finishing : 1, Heading Accuracy :  8, ShortPassing : 5

Assume all the remaining stats are the same for both players. By how much can we expect the Release Clause of each player to be different? Explain how you obtained your calculation. </b>

// answer here //